<div class="col-md-6 offset-md-3">
    <h3> Create Room </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Room no</label>
            <input type="text" class="form-control" id="roomno" [(ngModel)]="room.roomno" name="roomno">
        </div>

        <div class="form-group">
            <label> Room type</label>
            <input type="text" class="form-control" id="roomtype" [(ngModel)]="room.roomtype" name="roomtype">
        </div>

        <div class="form-group">
            <label> Price</label>
            <input type="text" class="form-control" id="price" [(ngModel)]="room.price" name="price">
        </div>

        <div class="form-group">
            <label>Status</label>
            <select name="status" [(ngModel)]="room.status">
                <option value="Available">Available</option>
                <option value="Booked">Booked</option>
            </select>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>